@model IEnumerable<RateListing.Model.Blog>
@{
    ViewBag.Title = "Haberler ve Etkinlikler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="header_in is_sticky menu_fixed">@Html.Partial("Menu/Other")</header>


<div class="sub_header_in sticky_header">
    <div class="container">
        <h1>Haberler ve Etkinlikler</h1>
    </div>
    <!-- /container -->
</div>
<!-- /sub_header -->

<main>
    <div class="container margin_60_35">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    @foreach (var item in Model.OrderByDescending(w => w.CreateDate).ToList())
                    {
                        <div class="col-md-6">
                            <article class="blog">
                                <figure>
                                    <a href="/haberler-ve-etkinlikler/@item.Url">
                                        <img src="~/Uploads/Blog/@item.Id/@item.Picture" alt="">
                                        <div class="preview"><span>Daha Fazlası</span></div>
                                    </a>
                                </figure>
                                <div class="post_info">
                                    <small>@item.CreateDate.Value.ToShortDateString()</small>
                                    <h2><a href="/haberler-ve-etkinlikler/@item.Url">@item.Name</a></h2>
                                    <p>@Html.Raw(item.Summary)</p>
                                    @*<ul>
                                            <li>
                                                <div class="thumb"><img src="~/sparker/html/img/avatar.jpg" alt=""></div> Admin
                                            </li>
                                            <li><i class="ti-comment"></i>20</li>
                                        </ul>*@
                                </div>
                            </article>
                            <!-- /article -->
                        </div>
                        <!-- /col -->
                    }
                </div>
                <!-- /row -->
                @*<div class="pagination__wrapper add_bottom_30">
                        <ul class="pagination">
                            <li><a href="#0" class="prev" title="previous page">&#10094;</a></li>
                            <li>
                                <a href="#0" class="active">1</a>
                            </li>
                            <li>
                                <a href="#0">2</a>
                            </li>
                            <li>
                                <a href="#0">3</a>
                            </li>
                            <li>
                                <a href="#0">4</a>
                            </li>
                            <li><a href="#0" class="next" title="next page">&#10095;</a></li>
                        </ul>
                    </div>*@
                <!-- /pagination -->

            </div>
            <!-- /col -->
            @*<aside class="col-lg-3">
                    <div class="widget search_blog">
                        <div class="form-group">
                            <input type="text" name="search" id="search" class="form-control" placeholder="Search..">
                            <span><input type="submit" value="Search"></span>
                        </div>
                    </div>
                     /widget
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Latest Post</h4>
                        </div>
                        <ul class="comments-list">
                            <li>
                                <div class="alignleft">
                                    <a href="#0"><img src="~/sparker/html/img/blog-5.jpg" alt=""></a>
                                </div>
                                <small>Category - 11.08.2016</small>
                                <h3><a href="#" title="">Verear qualisque ex minimum...</a></h3>
                            </li>
                            <li>
                                <div class="alignleft">
                                    <a href="#0"><img src="~/sparker/html/img/blog-6.jpg" alt=""></a>
                                </div>
                                <small>Category - 11.08.2016</small>
                                <h3><a href="#" title="">Verear qualisque ex minimum...</a></h3>
                            </li>
                            <li>
                                <div class="alignleft">
                                    <a href="#0"><img src="~/sparker/html/img/blog-4.jpg" alt=""></a>
                                </div>
                                <small>Category - 11.08.2016</small>
                                <h3><a href="#" title="">Verear qualisque ex minimum...</a></h3>
                            </li>
                        </ul>
                    </div>
                     /widget
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Categories</h4>
                        </div>
                        <ul class="cats">
                            <li><a href="#">Food <span>(12)</span></a></li>
                            <li><a href="#">Places to visit <span>(21)</span></a></li>
                            <li><a href="#">New Places <span>(44)</span></a></li>
                            <li><a href="#">Suggestions and guides <span>(31)</span></a></li>
                        </ul>
                    </div>
                     /widget
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Popular Tags</h4>
                        </div>
                        <div class="tags">
                            <a href="#">Food</a>
                            <a href="#">Bars</a>
                            <a href="#">Cooktails</a>
                            <a href="#">Shops</a>
                            <a href="#">Best Offers</a>
                            <a href="#">Transports</a>
                            <a href="#">Restaurants</a>
                        </div>
                    </div>
                     /widget
                </aside>*@
            <!-- /aside -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!--/main-->
