
@{
    ViewBag.Title = "Yapay Zeka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="header_in is_sticky menu_fixed">@Html.Partial("Menu/Other")</header>


<div class="sub_header_in sticky_header">
    <div class="container">
        <h1>Yapay Zeka</h1>
    </div>
    <!-- /container -->
</div>
<!-- /sub_header -->

<main>
    <div class="bg_color_1">
        <div class="container margin_80_55">
            <div class="main_title_2">
                <span><em></em></span>
                <h2>YAPAY ZEKA…</h2>
                <p>@*Cum doctus civibus efficiantur in imperdiet deterruisset.*@</p>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-6 wow" data-wow-offset="150">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        <img src="~/sparker/html/img/yapay-zeka.jpg" class="img-fluid" alt="">
                    </figure>
                </div>
                <div class="col-lg-5">
                    <p><em>MÜŞTERİ ANALİZLERİ</em></p>
                    <p>Yapay zeka analizlerimiz, akredite şirket müşterilerinin istek, arzu ve eğilimlerini belirlemede rol üstlenerek, yöneticilere kuruluşlarına yönelme veya kuruluşlarından uzaklaşma nedenlerini; şirketlerin müşteriler nezdindeki algılarını; istatiksel, rakamsal ve objektif olarak sunar.</p>
                    <p><em>ÇALIŞAN ANALİZLERİ</em></p>
                    <p>Yapay zeka analizlerimiz şirketlere, objektif ve rakamsal veriler sunarak çalışanlarının iş performansı, müşteri ilişkileri, şirket ve yöneticilerine bakışlarını analiz etme fırsatı verir. Böylece yöneticiler, şirketlerini objektif olarak degerlendirme; çalışanlarının verimliliğini ölçümleme ve şirketin gelecekteki konumu hakkında bilgi sahibi olmalarını buna göre strateji belirlemelerini sağlar.</p>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
    <!--/bg_color_1-->
</main>
<!--/main-->
