
@{
    ViewBag.Title = "Şikayet Çözüm Süreci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="header_in is_sticky menu_fixed">@Html.Partial("Menu/Other")</header>

<div class="sub_header_in sticky_header">
    <div class="container">
        <h1>Şikayet Çözüm Süreci</h1>
    </div>
    <!-- /container -->
</div>
<!-- /sub_header -->
<main>
    <div class="bg_color_1">
        <div class="container margin_80_55">
            <div class="main_title_2">
                <img style="width:100%" src="~/sparker/html/img/sikayet-cozumleri.jpg" alt="sikayet-cozumleri" />
                <span class="mt-3"><em></em></span>
                <h2>Şikayet Çözüm Süreci</h2>
            </div>
            <div class="row justify-content-between">

                <div class="col-lg-12">
                    <p>Rate Listing platformu, tarafların haklarını koruma adına sadece ispatlanabilir, yazılı olarak en geç bir ay içerisinde doğrudan ofisimize yapılan şikayetleri işleme koyar.</p>
                    <p><b>İŞLEME KONULAN ŞİKAYETLER:</b></p>
                    <p>• Sunulan ürün veya servisin garanti şartlarına uymamak,</p>
                    <p>• Faturalardaki yanlışlıklar,</p>
                    <p>• Yazılı taahhütlere uyulmaması,</p>
                    <p>• Cinsiyet, ırk, dil, din vb. herhangi bir ayrımcılığın yapılması,</p>
                    <p>• Hijyen ve sağlık koşullarına uymamak,</p>
                    <p>• Servis veya ürün şartlarının müşteri bilgisi dışında değiştirilmesidir.</p>
                    <br />
                    <p><b>İŞLEME KONULMAYAN ŞİKAYETLER:</b></p>
                    <p>• İşveren ve işçi arasındaki ihtilaflardan doğan şikayetler,</p>
                    <p>• Şikayet esnasında ayrımcı ifadelere(cinsiyet, ırk, dil, din gibi) yer verilmesi,</p>
                    <p>• Çek veya senet gibi alacaklar ile ilgili şikayetler,</p>
                    <p>• Avukat veya mahkemeye intikal eden şikayetler,</p>
                    <p>• Fiyat veya arbitrasyon farklılıklarından doğan şikayetler,</p>
                    <p>• Kapanmış şirketler ile ilgili şikayetler,</p>
                    <p>• Kanun, mevzuat ve yönetmelik değişikliklerinden doğabilecek şikayetler,</p>
                    <p>• Kamu kurum ve kuruluşları, vakıf, sendika, odalar vb. ile doğabilecek ihtilaflar.</p>
                    <p>NOT: Şikayetlerde şirket haklı veya çözme gayretinde ancak müşteri farklı isteklerde bulunuyor ise ofisimiz tarafsız ve adil konumu ile şikayeti şirket lehine sonlandırabilir.</p>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
    <!--/bg_color_1-->
</main>
<!--/main-->
