
@{
    ViewBag.Title = "Kurumsal Rating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="header_in is_sticky menu_fixed">@Html.Partial("Menu/Other")</header>

<div class="sub_header_in sticky_header">
    <div class="container">
        <h1>Kurumsal Rating</h1>
    </div>
    <!-- /container -->
</div>
<!-- /sub_header -->
<main>
    <div class="bg_color_1">
        <div class="container margin_80_55">
            <div class="main_title_2">
                <img style="width:100%" src="~/sparker/html/img/kurumsal-rating.jpg" alt="kurumsal-rating" />
                <span class="mt-3"><em></em></span>
                <h2>Kurumsal Rating</h2>
                <p>@*Cum doctus civibus efficiantur in imperdiet deterruisset.*@</p>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-12">
                    <p>Rate Listing; şirketleri, kuruluş ve içinde bulundukları faliyet alanlarının standartları ile global standartlara uygunluklarına göre 1’den 10’a kadar kurumsal yapı punlamasına tabi tutar.</p>
                    <p>Dikkate alınan faktörler ise:</p><br />
                    <p>1- Kuruluş yılı,</p>
                    <p>2- Şirket tipi,</p>
                    <p>3- Kuruluş belgeleri,</p>
                    <p>4- Lisans ve faaliyet belgeleri,</p>
                    <p>5- Oda ve federasyon kayıtları,</p>
                    <p>6- İletişim bilgileri,</p>
                    <p>7- Yetkili bilgisi,</p>
                    <p>8- Network bilgisi,</p>
                    <p>9- Kredi skoru,</p>
                    <p>10-Kullanılan sosyal medyalardır.</p>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
    <!--/bg_color_1-->
</main>
<!--/main-->
