
@{
    ViewBag.Title = "KVKK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="header_in is_sticky menu_fixed">@Html.Partial("Menu/Other")</header>

<div class="sub_header_in sticky_header">
    <div class="container">
        <h1>
            KVKK
        </h1>
    </div>
    <!-- /container -->
</div>
<!-- /sub_header -->
<main>
    <div class="bg_color_1">
        <div class="container margin_80_55">
            <div class="main_title_2">
                <span><em></em></span>
                <h2>
                    Kişisel Verilerin Korunması ve İşlenmesi Politikası
                </h2>
                <p>@*Cum doctus civibus efficiantur in imperdiet deterruisset.*@</p>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-12">
                    <p><b>Amacı</b></p>
                    <p>
                        Bugüne kadar Elite Firmalar Teknoloji Anonim Şirketi ( “<b>Şirket</b>”) olarak uğraştığımız işlerin hassasiyeti
                        gereğince toplanan kişisel veriler gizli tutulmuş ve hiçbir zaman üçüncü kişilerle amacı dışında
                        paylaşılmamıştır. Kişisel verilerin korunması, şirketimizin temel politikasıdır. Herhangi bir yasal
                        düzenleme olmadan önce de şirketimiz, kişisel verilerin gizliliğine büyük önem vermiş ve bunu bir
                        çalışma ilkesi olarak benimsemiştir. 6698 sayılı Kişisel Verilerin Korunması Kanunu’nun (“<b>Kanun</b>”)
                        getirdiği bütün sorumluluklara da uymayı Şirket olarak taahhüt etmekteyiz.
                    </p>
                    <p><b>Kapsamı ve Değiştirilmesi  </b></p>
                    <p>
                        Şirketimiz tarafından hazırlanan bu Kişisel Verilerin Korunması ve İşlenmesi Politikası (“<b>KVK Politikası</b>”), 6698 sayılı Kişisel Verilerin Korunması Kanunu’na uygun olarak hazırlanmıştır.
                        <br />
                        Sizlerden rızanızla ya da Kanun’da sayılan diğer hukuka uygunluk halleri gereği elde edilmiş veriler,
                        sunmuş olduğumuz hizmetlerin kalitelisinin arttırılması ve kalite politikamızın iyileştirilmesi amacıyla
                        kullanılacaktır. Yine elimizdeki bazı veriler ise, kişisel olmaktan çıkarılmakta ve anonimleştirilmektedir.
                        Bu veriler, istatistiki amaçlarla kullanılan verilerdir ve Kanun uygulamasına ve Politikamıza tabi
                        değildir.
                        <br />
                        Şirket KVK Politikası, müşterilerimizin, müşteri adaylarımızın, çalışanlarımız ile bizimle çözüm ortaklığı
                        içinde çalışan şirketlerin müşterileri ve çalışanlarının ya da diğer kişilerin otomatik olarak elde edilen
                        verilerinin korunmasını amaçlar ve bunlara ilişkin düzenlemeleri içerir.
                        <br />
                        Şirketimiz, Politikamızı Kanuna uygun olmak ve kişisel verilerin daha iyi korunması şartı ile, değiştirme
                        hakkına sahiptir.
                    </p>
                    <p><b>Kişisel Verilerin İşlenmesi İle İlgili Temel Kurallar </b></p>
                    <p>
                        a) <b>Hukuka ve dürüstlük kurallarına uygun olma:</b> Şirket, topladığı ya da kendisine diğer şirketlerden
                        gelen verilerin kaynağını sorgular ve bunların hukuka uygun ve dürüstlük kuralları çerçevesinde
                        elde edilmesine önem verir
                        <br />
                        b)<b> Doğru ve gerektiğinde güncel olma:</b> Şirket, kurum bünyesinde bulunan bütün verilerin doğru
                        bilgi olmasına, yanlış bilgi içermemesine ve nihayet kişisel verilerde değişiklik olduğu takdirde
                        bunları kendisine iletildiği takdirde güncellemeye önem verir.
                        <br />
                        c) <b>Belirli, açık ve meşru amaçlar için işlenme:</b> Şirket, ancak sunduğu ve hizmet sırasında kişilerden
                        onayını aldığı amaçlarla sınırlı şekilde verileri işler. İş amacı dışında verileri işlemez, kullanmaz ve
                        kullandırtmaz.
                        <br />
                        d) <b>İşlendikleri amaçla bağlantılı, sınırlı ve ölçülü olma:</b> Şirket, sadece verileri işlendikleri amaçla
                        sınırlı ve hizmetin gerektirdiği ölçüde kullanır.
                        <br />
                        e) <b>İlgili mevzuatta öngörülen veya işlendikleri amaç için gerekli olan süre kadar muhafaza edilme:</b>
                        Şirket, sözleşmeler kaynaklı verileri Kanunun ihtilaf çıkma süreleri, ticaret ve vergi hukukunun
                        gereklilikleri kadar bünyesinde muhafaza eder. Buna karşın bu amaçlar ortadan kalktığında veriyi
                        siler ya da anonimleştirir. Bunları Kişisel Verileri Silme Yönergesi’ne göre siler veya yok eder.
                        <br /><br />
                        Önemle belirtelim ki, Şirketimiz, verileri ister rızaya dayanarak isterse kanuna uygun bir şekilde
                        toplamış ya da işlemiş olsun yine de yukarıda sıraladığımız bu ilkeler geçerlidir.
                    </p>
                    <p><b>Kişisel Veri Sahibinin KVK Kanunu’nun 11. maddesinde Sayılan Hakları</b></p>
                    <p>
                        KVKK m.11’e göre aşağıda sayılan haklarınız bulunmaktadır. Bu haklarınızı kolaylaştırmak için sizler
                        için ayrıca bir başvuru formu da Şirketimiz tarafından hazırlanmış ve internet sayfanızda sizlere
                        sunulmuştur.
                        <br />
                        Kişisel verileri işlenen kişiler, Şirketimiz tarafından internet sayfamızda duyurulan ilgilimize
                        başvurarak kendi verisi ile ilgili olarak;
                        <br />
                        a) Kişisel veri işlenip işlenmediğini öğrenme,
                        <br />
                        b) Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
                        <br />
                        c) Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
                        <br />
                        d) Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
                        <br />
                        e) Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu
                        kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                        <br />
                        f) KVKK’nın 7. maddesinde öngörülen şartlar çerçevesinde, KVKK ve ilgili diğer kanun hükümlerine
                        uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması
                        hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin
                        kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                        <br />
                        g) İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi
                        aleyhine bir sonucun ortaya çıkmasına itiraz etme,
                        h) Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın
                        giderilmesini talep etme haklarına sahiptir. Şirket olarak bu haklara saygılıyız.
                    </p>
                    <p><b>Azami Tasarruf İlkesi/Cimrilik İlkesi </b></p>
                    <p>
                        Azami tasarruf ilkesi ya da cimrilik ilkesi adı verilen bu ilkemize göre Şirketimiz’e ulaşan veriler, ancak
                        gerekli olduğu kadar sisteme işlenir. Bu nedenle hangi verileri toplayacağımız amaca göre belirlenir.
                        Gerekli olmayan veriler toplanmaz. Şirketimize intikal eden diğer veriler de aynı şekilde şirketimiz
                        bilişim sistemlerine aktarılır. Fazlalık bilgiler, sisteme kaydedilmez, silinir ya da anonim hale getirilir.
                        Bu veriler, istatistiki amaçlarla kullanılabilir.
                    </p>
                    <p><b>Kişisel Verilerin Silinmesi </b></p>
                    <p>
                        Kanunen saklanması gereken sürelerin dolması, yargı süreçlerinin tamamlanması ya da diğer
                        gereklilikler ortadan kalktığında şirketimiz tarafından bu veriler kendiliğinden ya da ilgili kişinin talebi
                        üzerine kişisel veriler silinir, yok edilir ya da anonim hale getirilir.
                    </p>
                    <p><b>Doğruluk ve Veri Güncelliği </b></p>
                    <p>
                        Şirketimiz bünyesinde bulunan veriler, kural olarak ilgili kişilerin beyanı üzerine beyan ettiği şekilde
                        işlenir. Şirketimiz, müşteriler ya da Şirket ile temas kuran kişilerin beyan ettiği verilerin doğruluğunu
                        araştırmak zorunda olmadığı gibi bu hukuken ve çalışma ilkelerimiz nedeniyle de yapılmaz. Beyan
                        edilen veriler, doğru kabul edilir. Kişisel verilerin doğruluğu ve güncelliği ilkesi Şirket tarafından da
                        benimsenmiştir. Şirketimizin kendisine ulaşan resmî belgelerden veya ilgilisinin talebi üzerine işlemiş
                        olduğu kişisel verileri günceller. Bunun için gerekli önlemleri alır.
                    </p>
                    <p><b>Gizlilik ve Veri Güvenliği </b></p>
                    <p>
                        Kişisel veriler gizlidir ve Şirket bu gizliliğe riayet etmektedir. Kişisel verilere şirketimiz içinde ancak
                        yetki verilmiş kişiler ulaşabilir. Şirketimiz tarafından toplanan kişisel verilerin korunması ve yetkisiz
                        kişilerin eline geçmemesi ve veri sahibinin mağdur olmaması için gerekli teknik ve idari bütün
                        tedbirler alınmaktadır. Bu çerçevede yazılımların standartlara uygun olması, üçüncü partilerin özenle
                        seçilmesi ve şirket içinde de KVK Politikasına riayet edilmesi sağlanmaktadır. Hukuka uygun olarak
                        kişisel verileri paylaştığımız şirketlerden de verileri koruması talep edilir.
                    </p>
                    <p><b>Veri İşleme Amaçları</b></p>
                    <p>
                        Şirketimiz’in kişisel verileri işleme amaçları Kişisel Verilerin İşlenmesi Aydınlatma Metninde belirtildiği
                        şekildedir.
                    </p>
                    <p><b>Müşteri, Muhtemel Müşteri ve İş ve Çözüm Ortakları Verisi </b></p>
                    <p>
                        <b>a. Sözleşme İlişkisi İçin Verinin Toplanması ve İşlenmesi</b>
                        <br />
                        Müşteriler ve muhtemel müşterilerimizle bir sözleşme ilişkisi kurulmuş ise, toplanmış olan kişisel
                        veriler, müşterinin onayı alınmaksızın kullanılabilir. Ancak bu kullanım, sözleşme amacı doğrultusunda
                        gerçekleşir. Sözleşmenin daha iyi icrası ve hizmetin gereklilikleri ölçüsünde veriler kullanılır ve
                        gerektiğinde müşterilerle irtibata geçilerek güncellenir.
                        <br />
                        <b> b. İş ve Çözüm Ortakları Verileri</b>
                        <br />
                        Şirketimiz, gerek iş gerekse çözüm ortakları ile veri paylaşımı yaparken hukuka uygun davranmayı ilke
                        edinir. İş ve çözüm ortakları ile veri gizliliği taahhüdü ile ve ancak hizmetin gerektirdiği kadar veri
                        paylaşılmakta ve bu taraflardan mutlaka veri güvenliğinin sağlanmasına ilişkin tedbirleri alması talep
                        edilir.
                    </p>
                    <p><b>Reklam Amaçlı Veri İşleme </b></p>
                    <p>
                        E-Ticaretin Düzenlenmesi Hakkındaki Kanun’un ile Ticari İletişim ve Ticari Elektronik İletiler
                        Hakkındaki Yönetmeliğe uygun olarak ancak önceden onay alınan kişilere reklam amaçlı elektronik
                        ileti gönderilebilir. Reklamın gönderileceği kişinin onayının açık bir şekilde mevcudiyeti şarttır.
                        Yine aynı mevzuat uyarınca belirlenen “onay”ın detaylarına da Şirketimiz de riayet etmektedir.
                        Alınacak onay, şirketinizin mal ve hizmetlerini tanıtmak, pazarlamak, işletmesini tanıtmak ya da
                        kutlama ve temenni gibi içeriklerle tanınırlığını artırmak amacıyla alıcıların elektronik iletişim
                        adreslerine gönderdiği tüm ticari elektronik iletileri kapsamalıdır. Bu onay, yazılı olarak fiziki ortamda
                        veya her türlü elektronik iletişim aracıyla alınabilir. Önemli olan, alıcının ticari elektronik ileti
                        gönderilmesini kabul ettiğine dair olumlu irade beyanı, adı ve soyadı ile elektronik iletişim adresinin
                        bulunmasıdır.
                    </p>
                    <p><b>1. Şirketin Hukuki Yükümlülüğü veya Kanunda Açıkça Öngörülmesi Sebebiyle Yapılan Veri İşlemleri</b></p>
                    <p>
                        Kişisel veriler, işlemenin ilgili mevzuatta açıkça belirtilmesi veya mevzuatla belirlenen bir hukuki
                        yükümlülüğün yerine getirilmesi amacıyla ayrıca onay alınmadan işlenebilir. Veri işlemlerinin tür ve
                        kapsamı, yasal olarak izin verilen veri işleme faaliyeti için gerekli olmalı ve ilgili yasal hükümlere uygun
                        olmalıdır.
                    </p>
                    <p><b>Şirketin Veri İşlemesi </b></p>
                    <p>
                        Şirketin sunduğu hizmet ve meşru amaçları doğrultusunda kişisel veriler işlenebilir. Ancak veriler
                        hiçbir şekilde hukuka aykırı hizmetler için kullanılamaz.
                    </p>
                    <p><b>Özel Nitelikli Verilerin İşlenmesi </b></p>
                    <p>
                        Şirket, özel nitelikli kişisel verilerin işlenmesinde, Kurul tarafından ayrıca belirlenen yeterli önlemlerin
                        hepsini alır. Şirketimizde özel nitelikli kişisel veriler “Özel Nitelikli Kişisel Verilerin Korunması ve
                        İşlenmesi Politikası”na göre işlenir.
                    </p>
                    <p><b>Otomatik Sistemlerle İşlenen Veriler</b></p>
                    <p>
                        Otomatik sistemler aracılığı ile işlenen veriler konusunda Şirket, Kanun ve ikincil mevzuata uygun
                        davranır. Kişilerin açık rızası olmaksızın bu verilerden elde edilen bilgiler kişi aleyhine kullanılamaz.
                        Ancak Şirket, kendi sistemindeki verileri kullanarak işlem yapacağı kişilerle ilgili kararlar alabilir.
                    </p>
                    <p><b>Kullanıcı Bilgileri ve İnternet </b></p>
                    <p>
                        Şirket’e ait internet siteleri ve diğer sistemlerde veya uygulamalarda kişisel verilerin toplanması,
                        işlenmesi ve kullanılması durumunda ilgili kişiler gizlilik bildirimi ile ve gerekirse çerezler hakkında
                        bilgilendirilir.
                        <br />
                        Kişiler, internet sayfalarındaki uygulamalarımız konusunda bilgilendirilir. Kişisel veriler, hukuka uygun
                        olarak işlenecektir.
                    </p>
                    <p><b>Çalışanlarımıza Ait Veriler</b></p>
                    <p>
                        <b> c. İş İlişkisi İçin Verilerin İşlenmesi</b>
                        <br />
                        Çalışanlarımızın kişisel verileri, iş sözleşmesinin ifası ve yan haklarının tesisi bakımından gerekli olduğu
                        kadarıyla işlenebilir. Ancak Şirket, çalışanlarına ait verilerin gizliliği ve korunmasını temin eder.
                        <br />
                        <b>d. Hukuki Yükümlülükler Gereği İşleme</b>
                        <br />
                        Şirket, çalışanlarına ait kişisel verileri, işlemenin ilgili mevzuatta açıkça belirtilmesi veya mevzuatla
                        belirlenen bir hukuki yükümlülüğün yerine getirilmesi amacıyla ayrıca onay alınmadan verileri
                        işleyebilir. Bu husus, kanundan kaynaklanan yükümlülüklerle sınırlıdır.
                        <br />
                        <b>e. Çalışanların Yararına İşlemeler</b>
                        <br />
                        Şirket, yan hak tesisi gibi şirket çalışanlarının menfaatine olan işlemler için onay almaksızın kişisel
                        verileri işleyebilir. İş ilişkilerinden kaynaklanan ihtilaflar için de Şirket, çalışanlara ait verileri işleyebilir.
                        <br />
                        <b>f. Özel Nitelikli Verilerin İşlenmesi</b>
                        <br />
                        Kanun’a göre Kişilerin ırkı, etnik kökeni, siyasi düşüncesi, felsefi inancı, dini, mezhebi veya diğer
                        inançları, kılık ve kıyafeti, dernek, vakıf ya da sendika üyeliği, sağlığı, cinsel hayatı, ceza mahkûmiyeti
                        ve güvenlik tedbirleriyle ilgili verileri ile biyometrik ve genetik verileri özel nitelikli kişisel veridir.
                        Şirket, özel nitelikli kişisel verilerin işlenmesinde, ilgili kişinin onayı yanında Kurul tarafından ayrıca
                        belirlenen yeterli önlemleri alır. Özel nitelikli kişisel veriler kişinin onayı olmaksızın ancak Kanunda izin
                        verilen hallerle ilgili ve sınırlı olarak işlenebilir.
                        <br />
                        <b> g. Otomatik Sistemlerle İşlenen Veriler</b>
                        <br />
                        Çalışanların otomatik sistemlerle ilgili olarak işlenen verileri, şirket içi terfilerde ve performans
                        değerlendirmelerinde kullanılabilir. Çalışanlarımız aleyhine çıkan sonuca itiraz etme hakkına sahiptir
                        ve bunu şirket içi prosedürlere uyarak gerçekleştirirler. Çalışanların itirazları da yine şirket içinde
                        değerlendirilir.
                        <br />
                        <b> h. Telekomünikasyon ve İnternet</b>
                        <br />
                        Şirket içinde çalışanlara tahsis edilen bilgisayar, telefon, e-posta ve diğer uygulamalar çalışana sadece
                        iş amacı ile tahsis edilmiştir. Çalışan şirketin kendisine tahsis ettiği bu vasıtaların hiçbirini özel
                        amaçları ve iletişimi için kullanamaz. Şirket bu araçlar üzerindeki bütün verileri kontrol edebilir ve
                        denetleyebilir. Çalışan, işe başladığı andan itibaren kendisine tahsis edilen bilgisayarda, telefonlarda
                        ya da diğer araçlarda iş dışında başka bir veri ya da bilgi bulundurmayacağını taahhüt etmektedir.
                    </p>
                    <p><b>Kişisel Verilerin Yurt İçi ve Dışına Aktarılması </b></p>
                    <p>
                        Kişisel veriler, Şirket tarafından hizmetin görülebilmesi amacıyla hâkim hissedar ile ayrıca iş ve çözüm
                        ortakları ile paylaşılabilir.
                        <br />
                        Şirket kişisel verileri, Şirketimizin tedarikçiden dış kaynaklı olarak temin ettiği ve Şirketimizin ticari
                        faaliyetlerini yerine getirmek için gerekli hizmetlerin Şirketimize sunulmasını sağlamak amacıyla sınırlı
                        olarak Şirket’in tedarikçilerine aktarabilecektir.
                        <br />
                        Şirket, Kurul tarafından belirlenen şartlar dahilinde kişisel verileri Kanundaki diğer şartlara uygun
                        olarak yurt içi ve yurt dışına aktarma yetkisine sahiptir.
                    </p>
                    <p><b>İlgili Kişinin Hakları</b></p>
                    <p>
                        Şirket, KVKK kapsamında ilgili kişinin veri işlenmeden önce onayını alma hakkının olduğunu, verinin
                        işlenmesinden sonra ise verisinin kaderini tayin etme hakkına sahip olduğunu kabul etmektedir.
                        Şirket tarafından internet sayfamızda duyurulan ilgilimize başvurarak kişisel verilerle ilgili olarak;
                        <br />
                        a) Kişisel verinizin işlenip işlenmediğini öğrenme,
                        <br />
                        b) Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
                        <br />
                        c) Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
                        <br />
                        ç) Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
                        <br />
                        d) Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme,
                        <br />
                        e) 7’nci maddede öngörülen şartlar çerçevesinde kişisel verilerin silinmesini veya yok edilmesini
                        isteme,
                        <br />
                        f) (d) ve (e) bentleri uyarınca yapılan işlemlerin, kişisel verilerin aktarıldığı üçüncü kişilere
                        bildirilmesini isteme,
                        <br />
                        g) İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi
                        aleyhine bir sonucun ortaya çıkmasına itiraz etme,
                        <br />
                        ğ) Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın
                        giderilmesini talep etme hakkına sahiptir.
                        <br />
                        Buna karşın,
                        <br />
                        Şirket içinde anonimleştirilmiş verilerle ilgili olarak kişilerin bir hakkı bulunmamaktadır. Şirket, kişisel
                        verileri, iş ve sözleşme ilişkisi gereğince, bir yargısal görevin ya da devlet otoritesinin Kanuni
                        yetkilerini kullanması amacıyla ilgili kurum ve kuruluşlarca paylaşabilir.
                        <br />
                        Kişisel veri sahipleri yukarıda belirtilen haklarına ilişkin taleplerini Şirket resmi internet adresinden
                        temin edebileceğiniz başvuru formunu eksiksiz doldurarak ve ıslak imza ile imzalayarak yine
                        Şirketimiz adresine, iadeli taahhütlü mektupla ve kimlik fotokopileriyle (nüfus cüzdanı için sadece ön
                        yüz fotokopisi olacak şekilde) göndererek Şirkete iletebileceklerdir. Başvurularınız, başvurunuzun
                        içeriğine göre en kısa sürede ya da şirketimize ulaşmasından sonra en geç 30 gün içinde
                        cevaplanacaktır. Başvurularınızı, iadeli taahhütlü mektupla yapmanız gerekmektedir. Ayrıca
                        başvurularınızın sadece sizlerle ilgili kısmı cevaplanacak olup, eşiniz, yakınınız ya da arkadaşınız
                        hakkında yapılan bir başvuru kabul edilmeyecektir.
                        <br />
                        Şirket, başvuru sahiplerinden başkaca ilgili bilgi ve belge talep edebilir.
                    </p>
                    <p><b>Gizlilik İlkesi</b></p>
                    <p>
                        İster çalışanlar isterse diğer kişilerin Şirketimiz’deki verileri gizlidir. Hiç kimse sözleşme ya da kanuna
                        uygunluk olmaksızın başkaca hiçbir amaç için bu verileri kullanamaz, kopyalayamaz, çoğaltamaz,
                        başkalarına aktaramaz, iş amaçları dışında kullanamaz.
                    </p>
                    <p><b>İşlem Güvenliği </b></p>
                    <p>
                        Şirket tarafından toplanan kişisel verilerin korunması ve yetkisiz kişilerin eline geçmemesi ve
                        müşterilerimizin ve müşteri adaylarımızın mağdur olmaması için gerekli teknik ve idari bütün
                        tedbirler alınmaktadır. Bu çerçevede yazılımların standartlara uygun olması, üçüncü partilerin özenle
                        seçilmesi ve şirket içinde de KVK Politikasına riayet edilmesi sağlanmaktadır. Güvenliğe ilişkin
                        önlemler, sürekli olarak yenilenmekte ve geliştirilmektedir.
                    </p>
                    <p><b>Denetim</b></p>
                    <p>Şirket, kişisel verilerin korunması konusunda gerekli iç ve dış denetimleri yaptırır. </p>
                    <p><b>İhlallerin Bildirimi</b></p>
                    <p>
                        Şirket, kişisel verilerle ilgili herhangi bir ihlal olduğu kendisine bildirildiğinde söz konusu ihlali
                        gidermek için derhal harekete geçer. İlgilinin zararını en aza indirir ve zararı telafi eder. Kişisel
                        verilerin dışarıdan yetkisiz kimselerce ele geçirildiğinde durumu derhal Kişisel Verileri Koruma
                        Kurulu’na bildirir.
                    </p>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
    <!--/bg_color_1-->
</main>
<!--/main-->