
@{
    ViewBag.Title = "Network Ağımız";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="header_in is_sticky menu_fixed">@Html.Partial("Menu/Other")</header>

<div class="sub_header_in sticky_header">
    <div class="container">
        <h1>Network Ağımız</h1>
    </div>
    <!-- /container -->
</div>
<!-- /sub_header -->
<main>
    <div class="bg_color_1">
        <div class="container margin_80_55">
            <div class="main_title_2">
                <img style="width:100%" src="~/sparker/html/img/network_agimiz.jpg" alt="network_agimiz" />
                <span class="mt-3"><em></em></span>
                <h2>Network Ağımız</h2>
            </div>
            <div class="row justify-content-between">
               
                <div class="col-lg-12">

                    <p>’’İzin verin, sesinizi dünyaya duyuralım.’’</p>
                    <p>Network ağımız yapay zeka destekli yeni nesil iş modeli ile firmaların yerel ve global piyasaların tam ortasında aktif olarak yer almalarını sağlamaktadır. Bunun için ise:</p>
                    <p>1- Online olarak 7/24 aralıksız işletmelerin detaylı reklamını yapmaktayız.</p>
                    <p>2- Ağımızda İngilizce’ye yer verilmesi ile işletme tanıtımında dil sorununu ortadan kaldırmaktayız.</p>
                    <p>3- Şirket reklamlarını daha ucuz ve daha kazançlı hale getirmekteyiz.</p>
                    <p>4- Firmaların sınırları aşarak dünyanın her yerinde müşterilerine ulaşabilmelerini sağlamaktayız.</p>
                    <p>5- Müşterilerin firmalara daha hızlı ulaşmasını ve yeni müşterilere  ulaşmalarını sağlamaktayız.</p>
                    <p>6- Şirketlerin global standartlara sahip olması ve yenilikçi bir hal almalarına yardımcı olmaktayız.</p>
                    <p>7- Müşteriler referans, şikayet, ratingler ve online fiyat talep formu ile işletmeler hakkında geniş bilgi sahibi olabilir ve diğer işletmeler ile karşılaştırabilirler.</p>
                    <p>8- Yapay zeka programlarımız şirketlere objektif ve rakamsal veriler sunarak yöneticilere çalışanların performans ve analizleri servis ve ürün kalitesini ve müşterileri analiz etme fırsatı sunar. Ayrıca işlemlerini rakipleri ile karşılaştırma, gelecekleri hakkında değerlendirmelerine yardımcı olur.</p>
                    <p>9- Ağımıza dahil olmak şirketler için vizyon, prestij ve müşteri kredisi sağlar.</p>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
    <!--/bg_color_1-->
</main>
<!--/main-->
