
@{
    ViewBag.Title = "Platformumuz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="header_in is_sticky menu_fixed">@Html.Partial("Menu/Other")</header>

<div class="sub_header_in sticky_header">
    <div class="container">
        <h1>Platformumuz</h1>
    </div>
    <!-- /container -->
</div>
<!-- /sub_header -->

<main>
    <div class="bg_color_1">
        <div class="container margin_80_55">
            <div class="main_title_2">
                <span><em></em></span>
                <h2>PLATFORMUMUZ…</h2>
                <p>@*Cum doctus civibus efficiantur in imperdiet deterruisset.*@</p>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-4 wow" data-wow-offset="150">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        <img src="~/sparker/html/img/platform.jpg" class="img-fluid" alt="">
                    </figure>
                </div>
                <div class="col-lg-7">
                    <p><em>Rate Listing, bütün şirketlerin iki temel ihtiyacı olduğunu çok iyi bilmektedir:Güven ve Tanıtım.</em></p>
                    <p><em>Buradan hareketle amaçlarımız:</em></p>
                    <p>A- Şirketlerin kurumsal yapı ve sundukları hizmetler itibari ile global standartlara sahip olmaları.</p>
                    <p>B- Akredite şirketlerimizin müşteri ilişkilerinde ticari ve etik kurallara uymaları.</p>
                    <p>C- Network ağımız ile şirketlerin sesini köşebaşından ülke geneline ve dünyada online olunabilen her yerde sınır tanımadan duyurmak.</p>
                    <p>D- Network ağımızla şirketlerin bütün bilgi, belge ve hizmetlerini Türkçe ve İngilizce olarak herkese ulaşmasını sağlamak.</p>
                    <p>E- Müşteriler ile şirketler arasında doğabilecek ihtilaflarda, arabuluculuk rolü ile piyasalarda güvenin hakim olmasını sağlamak.</p>
                    <p>F- Yapay zeka programlarımız sayesinde şirketler ve müşterilerine analiz ve çözümler üretmek.</p>
                    <p>Sonuç olarak Rate Listing; şirketlerin tanınan ve güvenilir ayrıca sektörlerinde rol model olarak Türkiye ve dünya piyasalarınının tam ortasında yer almalarına olanak sağlayan bir platformdur.</p>

                </div>
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
    <!--/bg_color_1-->
</main>
<!--/main-->
