
@{
    ViewBag.Title = "Referans Programı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="header_in is_sticky menu_fixed">@Html.Partial("Menu/Other")</header>

<div class="sub_header_in sticky_header">
    <div class="container">
        <h1>Referans Programı</h1>
    </div>
    <!-- /container -->
</div>
<!-- /sub_header -->
<main>
    <div class="bg_color_1">
        <div class="container margin_80_55">
            <div class="main_title_2">
                <img style="width:100%" src="~/sparker/html/img/referans-programi.jpg" alt="referans-programi" />
                <span class="mt-3"><em></em></span>
                <h2>Referans Programı</h2>
                <p>@*Cum doctus civibus efficiantur in imperdiet deterruisset.*@</p>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-12">
                    <p>Referanslar, müşteri ile yaşanmış olumlu hikayelerdir ve hizmet kalitesinin de en belirgin özelliğidir.Potansiyel müşteriler ise %64 oranı ile referansalara göre hareket etmektedir.</p>
                    <p>
                        Rate Listing, akredite kuruluşların hizmet kalitesini, müşteri ilişkilerini belirlemek için şikayetler kadar referansları da dikkatle inceler.<br />
                        Bu nedenle hizmet aldığınız şirketten memnun iseniz network ağımızdaki şirketlerin özel sayfalarına giderek referans formunu doldurabilir ve referanslarınızı online olarak tüm dünya ile paylaşabilirsiniz.
                    </p>
                    <p>Böylece şirketlerimizi mükemmelleşmeye teşvik eder; tüketicileri güvenli işletmelere yönlendirmiş aynı zamanda da piyasalardaki ticari kültürün daha da ileriye gitmesine katkıda bulunmuş olursunuz.</p>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
    <!--/bg_color_1-->
</main>
<!--/main-->
