@model Iyzipay.Model.CheckoutForm

@{
    ViewBag.Title = "Ödeme - Adım 3";
    Layout = "~/Areas/Company/Views/Shared/_UserLayout.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Anasayfa</a>
        </li>
        <li class="breadcrumb-item active">Ödeme</li>
    </ol>
    <div class="box_general">
        <div class="list_general reviews">
            <div class="row">
                <div class="col-md-12 text-center">
                    @if (Model.PaymentStatus == "SUCCESS")
                    {
                        <h1 class="text-success">Ödeme Başarılı</h1>
                        <p class="text-succes">Hesabınız birkaç dakika içerisinde yayına alınacaktır. Teşekkürler.</p>
                    }
                    else
                    {
                        <h1 class="text-danger">Ödeme Hata Oluştu</h1>
                        <p class="text-danger">@Model.ErrorMessage</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
